*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: hsl(0,0%,25%);
  font: 1em/1.333 $t-base;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

pre, p {
  margin: 0 0 1em;
}

pre, code {
  font-family: "source-code-pro", monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  @include link;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Selection colors

::selection {
  background: $c-link;
  color: invert($c-link);
  text-shadow: none;
}
