// VARIABLES ===================================================================

@import 'breakpoint';

// Colors
$c_body_copy: #444;
$c_link: #26527c;
$c_opposite: #fff;

// Font Sizes
$size_base: 1em;
