@font-face{font-family:"MuseoSlab100Regular";
  src:url('fonts/Museo_Slab_100-webfont.eot');
  src:url('fonts/Museo_Slab_100-webfont.eot?#iefix') format('eot'),
  url('fonts/Museo_Slab_100-webfont.woff') format('woff'),
  url('fonts/Museo_Slab_100-webfont.ttf') format('truetype'),
  url('fonts/Museo_Slab_100-webfont.svg#Museo_Slab_100-webfont') format('svg')
}

@font-face {
  font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Icon font CSS
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  font-smoothing: antialiased;
}

.icon-alone {
  display: block; /* Fix for clickability issue in WebKit */
  padding: 0 20px;
  transition: all 0.3s ease-out;
}
